ul li {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.h2 {
  font-weight: normal;
  font-size: none;
}

body {
  padding: 0;
  margin: 0;
}

nav {
  background: url(../img/Rectangle\ 1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  position: relative;
}

.nav_icons {
  padding-top: 30px;
}

.cube {
  display: inline-block;
  position: relative;
  left: 8%;
}

.group {
  position: sticky;
  left: 100%;
  top: 20px;
  margin-right: 8%;
}

.header_poster {
  max-width: 739px;
  min-width: 250px;
  height: 537px;
  background-color: rgb(243, 240, 240);
  object-fit: cover;
  margin-top: 380px;
  margin-left: 180px;
}

.poster_content {
  display: flex;
  margin-right: 175px;
  margin-left: 65px;
  margin-bottom: 75px;
  text-align: left;
  flex-direction: column;
}

.poster_title {
  margin-top: 100px;
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 30px;
}

.colortext {
  color: #f78065;
}

.poster_text {
  font-size: 20px;
  opacity: 50%;
}

.btn_container {
  display: grid;
  grid-template-columns: 100px 150px;
  margin-top: 30px;
  margin-right: 255px;
  background-color: #f78065;
  line-height: 55px;
  text-align: center;
  align-items: center;
}

.btn_icon {
  margin-left: 60px;
  margin-top: 10px;
  justify-items: right;
}

.btn_text {
  margin-right: 85px;
  color: white;
  font-size: 18px;
  font-style: bold;
}

@media (max-width: 1440px) {
  nav {
    background-size: auto;
  }

  .header_poster {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 855px) {
  .header_poster {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 799px) {
  .poster_content {
    justify-items: center;
    margin: 15px;
  }

  .header_poster {
    margin-top: 300px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }

  .poster_text {
    font-size: 16px;
  }

  .btn_container {
    margin: 70px 100px;
  }
}

@media (max-width: 600px) {
  .poster_content {
    justify-items: center;
    margin: 15px;
  }

  .header_poster {
    margin-top: 300px;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
  }

  .poster_text {
    font-size: 16px;
  }

  .btn_container {
    margin: 70px 10px;
  }

  .poster_title {
    font-size: 22px;
  }
}

@media(min-width:1441px){
.header_poster{
	margin-top: 320px;
	margin-left: 100px;
}
}

@media(min-width:1660px){
	.header_poster{
		transition-duration: 1s;
		margin-top: 400px;
		margin-left: 220px;
	}
}

@media(min-width:1750px){
	.header_poster{
		transition-duration: 1s;
		margin-top: 430px;
		margin-left: 250px;
	}
}

@media(min-width:1850px){
	.header_poster{
		transition-duration: 1s;
		margin-top: 460px;
		margin-left: 300px;
	}
}

.vertical {
  width: 100%;
  margin-top: 230px;
}

.vertical_row {
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.vertical_column {
  flex: 0 1 25%;
  display: flex;
}

.vertical_image {
  margin-bottom: 90px;
}

.vertical_title {
  margin-bottom: 20px;
  font-size: 24px;
  font-style: bold;
}

.text_1 {
  margin-bottom: 25px;
  font-size: 16px;
  opacity: 50%;
}

.text_2 {
  font-size: 18px;
  font-weight: bold;
  color: #f78065;
}

@media (max-width: 1105px) {
  .vertical_row {
    flex-wrap: wrap;
    margin-bottom: 30px;
    column-gap: 100px;
  }

  .vertical_column {
    flex: 0 1 33%;
    margin-bottom: 60px;
  }

  .column2 {
    margin-right: 0;
  }
}

@media (max-width: 670px) {
  .vertical_column {
    margin: 50px;
  }
}

.columns {
  margin-top: 240px;
}

.columns_row {
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.columns_column {
  flex: 0 1 18%;
  display: flex;
}

.columns_title {
  margin-bottom: 110px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.columns_item {
  min-width: 190px;
}

.item_icon {
  margin-bottom: 70px;
}

.item_title {
  margin-bottom: 45px;
  font-size: 22px;
  font-weight: bold;
}

.item_text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  opacity: 50%;
}

.item_link {
  font-size: 18px;
  font-weight: bold;
  color: #f78065;
}

@media (max-width: 1105px) {
  .columns_row {
    flex-wrap: wrap;
  }

  .columns_column {
    margin-bottom: 40px;
  }

  .columns_title {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 690px) {
  .columns_row {
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
  }

  .columns_column {
    margin-bottom: 60px;
  }

  .columns_title {
    font-size: 19px;
  }

  .item_icon {
    margin-bottom: 15px;
  }

  .item_title {
    margin-bottom: 10px;
  }

  .item_text {
    margin-bottom: 10px;
  }
}

@media (max-width: 430px) {
  .columns_item {
    width: 280px;
  }
}

.join {
  margin-top: 260px;
}

.join_row {
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.join_column {
  flex: 0 1 230px;
  display: flex;
}

.join_column_start {
  flex: 0 0 305px;
  display: flex;
}

.join_btn {
  display: grid;
  grid-template-columns: 100px 150px;
  margin-top: 30px;
  margin-right: 255px;
  background-color: #f78065;
  line-height: 55px;
  text-align: center;
  align-items: center;
}

.join_btn_icon {
  margin-left: 75px;
}

.join_btn_text {
  justify-items: left;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 105px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.text {
  font-size: 18px;
  opacity: 50%;
}

.join_title {
  font-size: 24px;
  font-weight: bold;
}

.join_text {
  font-size: 14px;
  margin-bottom: 15px;
  color: #3f3d56;
}

.join_link {
  font-size: 18px;
  color: #f78065;
}
@media (max-width: 1440px) {
  .join_row {
    flex-wrap: wrap;
    column-gap: 100px;
  }

  .join_column {
    margin-bottom: 100px;
  }

  .join_column_start {
    margin-bottom: 100px;
  }
}

@media (max-width: 933px) {
  .title {
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .join_btn {
    margin-right: auto;
    margin-left: auto;
    width: 250px;
  }
}

@media (max-width: 630px) {
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 16px;
  }
}

.advantages {
  margin-top: 235px;
}

.advantages_row {
  display: flex;
  justify-content: center;
  column-gap: 55px;
}

.advantages_column {
  flex: 0 1 380px;
  display: flex;
}

.advantages_title {
  margin-bottom: 110px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.adv-item_icon {
  margin-bottom: 65px;
}

.adv-item_title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 22px;
}

.adv-item_text {
  font-size: 16px;
  opacity: 50%;
  line-height: 24px;
}

@media (max-width: 1440px) {
  .advantages_row {
    flex-wrap: wrap;
    column-gap: 100px;
  }

  .advantages_column {
    margin-bottom: 60px;
  }
  .advantages_title {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .advantages_title {
    font-size: 26px;
  }

  .advantages_column {
    margin-right: 15px;
    margin-left: 15px;
  }

  .adv-item_title {
    font-size: 20px;
  }

  .adv-item_icon {
    margin-bottom: 15px;
  }
}

.footer {
  margin-top: 250px;
}

.footer_container {
  height: fit-content;
  background-color: rgb(243, 240, 240);
  background-size: 100%;
}

.menu_row {
  display: flex;
  column-gap: 30px;
	margin-left: 30px;
}

.menu_column-1 {
  flex: 0 1 210px;
  margin-right: 225px;
  display: flex;
  margin-bottom: 70px;
}

.menu_columns {
  display: flex;
  column-gap: 210px;
}

.menu_column {
  flex: 0 1 250px;
  display: flex;
}

.menu_list li {
  list-style: none;
  font-size: 14px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.menu_name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 100px;
}

.menu_text {
  font-size: 48px;
  font-weight: bold;
}

.menu_title {
  margin-top: 100px;
  font-size: 18px;
  font-weight: bold;
}

.menu_border {
  border-bottom: 1px solid black;
  opacity: 20%;
}

@media (max-width: 1550px) {
  .menu_column-1 {
    margin-right: 100px;
  }
}

@media (max-width: 1170px) {
  .menu_row {
    flex-wrap: wrap;
  }

  .menu_columns {
    margin-right: auto;
    margin-left: auto;
  }
  .menu_column-1 {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 1000px) {
  .menu_columns {
    column-gap: 100px;
  }
}

@media (max-width: 859px) {
  .menu_columns {
    flex-wrap: wrap;
  }

  .menu_column {
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 619px) {
  .menu_item {
    width: 100%;
    text-align: center;
  }

  .menu_column {
    margin-right: auto;
    margin-left: auto;
  }
  .menu_list li {
    text-align: center;
  }
}

.footer_info {
  justify-items: center;
  margin-top: 30px;
}

.info_row {
  display: flex;
  justify-content: center;
}

.info_column-1 {
  flex: 0 1 225px;
  display: flex;
  margin-right: 600px;
  margin-left: 20px;
}

.info_columns {
  display: flex;
  column-gap: 50px;
}

.info_column {
  flex: 0 1 auto;
  display: flex;
}

.info_title {
  font-size: 14px;
}

@media (max-width: 1440px) {
  .info_row {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .info_columns {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 50px;
  }

  .info_column-1 {
    width: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .info_columns {
    column-gap: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }
}
