body {
  margin: 0;
  padding: 0;
}

nav {
  display: grid;
  background-image: url(../img/Rectangle\ 1.png);
  min-height: 650px;
  background-repeat: no-repeat;
  background-size: 100%;
  grid-template-columns: 120px 45px 38% auto
	206px;
  grid-template-rows: 30px 60px auto;
}

@media (max-width:840px){
	nav{
		max-width:838px;
	}
}

.cube{
	grid-column: 2/5; 
	grid-row: 2/3;
	border:3px dashed #f78065;
}

.group{
	grid-column: 5/5;
	grid-row: 2/3;
	border:3px dashed #f78065;

}

.header_poster {
	grid-column: 3/5;
	grid-row: 3/3;
	border:3px dashed #f78065;
  max-width: 741px;
  max-height: auto;
  background-color: rgb(243, 240, 240);
  object-fit: cover;
	margin-top: 30%;
}

@media (max-width:987px){
	.header_poster{
		max-width: 550px;
	}
}

.poster_content {
  margin-right: 175px;
  margin-left: 65px;
  margin-top: 100px;
  margin-bottom: 75px;
  text-align: left;
}

.poster_title {
  font-size: 39px;
  font-weight: bold;
  margin-bottom: 30px;
}
.colortext {
  color: #f78065;
}

.poster_text {
  font-size: 20px;
	opacity: 50%;
}

.btn_container {
	position: absolute;
  display: grid;
  grid-template-columns: 100px 150px;
  margin-top: 30px;
  margin-right: 255px;
  background-color: #f78065;
  line-height: 55px;
  text-align: center;
  align-items: center;
}

.btn_icon {
  margin-left: 60px;
  margin-top: 10px;
  justify-items: right;
}

.btn_text {
  margin-right: 85px;
  color: white;
  font-size: 18px;
  font-style: bold;
}

